@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library Management System</h1>
    <p><code>"READING can take you places have never been before!"</code></p>
    <p class="lead"> </p>
    <p><a href="~/Books" class="btn btn-info">Find Book &raquo;</a></p>
</div>
 
@*div for services and help*@
<div class="row">
    <div class="col-xs-6">
        <div class="thumbnail">
            @*image added for services*@
            <img src="~/Content/Images/services.jpg" alt="Services" height="400" width="400"/>
            <div class="caption">
                <h2>Services</h2>
                <ul>
                    <li>Borrowing and Renewals</li>
                    <li>Online Materials</li>
                    <li>Find a Book</li>
                    <li>Loan policies and fines</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xs-6">
        <div class="thumbnail">
            @*image added for help*@
            <img src="~/Content/Images/Support.jpg" alt="Support" height="400" width="400"/>
            <div class="caption">
                <h2>Help</h2>
                <ul>
                   <li>Research Guides</li>
                   <li>Ask a Librarian</li>
                </ul>
            </div>
        </div>
    </div>
</div>


