@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library Management System</h1>
    <p class="lead"> </p>
    <p><a href="~/Home/Categories" class="btn btn-info">Borrow Book &raquo;</a></p>
</div>
 
